# SPDX-FileCopyrightText: 2025 Hannes Lindenblatt
#
# SPDX-License-Identifier: CC0-1.0
[workspace]
authors = [
    "Patrizia Schoch",
    "Hannes Lindenblatt <hannes.lindenblatt@desy.de>",
    "Magdalena Orlowska",
]
description = "GUI tool to simulate Reaction Microscope detector images."
license = "GPL-3.0-or-later"
license-file = "LICENSES/GPL-3.0-or-later.txt"
readme = "README.md"
homepage = "https://codeberg.org/FlashREMI/RedCamel"
repository = "https://codeberg.org/FlashREMI/RedCamel.git"

channels = ["conda-forge"]
name = "redcamel"
platforms = ["win-64", "linux-64", "osx-arm64", "osx-64"]
version = "0.1.7"

[tasks.redcamel]
description = "Launch the RedCamel GUI program"
cmd = "redcamel"

[dependencies]
python = ">=3.11"
numpy = ">=1.2"
numba = ">=0.58"
matplotlib-base = ">=3.7"
plopp = ">=25"
scipp = ">=25"
scipy = ">=1.10"
python-graphviz = ">=0.20"
ipywidgets = ">=8"
h5py = ">=3,<4"
ipykernel = ">=6,<7"
ipympl = ">=0.9,<0.10"

[pypi-dependencies]
chemformula = ">=1.2"
redcamel = { path = ".", editable = true }

[environments]
jupyterlab = ["jupyterlab"]
test = ["test"]

[feature.jupyterlab.dependencies]
jupyterlab = "*"
pixi-kernel = "*"

[feature.jupyterlab.tasks.jupyterlab]
description = "Launch a local jupyter lab server for running the example notebooks."
cmd = "jupyter-lab"

[feature.test.dependencies]
pytest = ">=8.3"
pytest-cov = ">=5"
pytest-sugar = ">=1"
ruff = ">=0.7"

[feature.test.tasks.test]
description = "Run all python tests"
cmd = "pytest"
[feature.test.tasks.code_analysis]
description = "Run static code analyis with ruff"
cmd = ["ruff", "check", "src/**/*.py", "examples/*.ipynb", "test/**/*.py"]

[feature.test.tasks.autoformat_python]
description = "Apply automatic python formatting rules with ruff"
cmd = ["ruff", "format", "src/**/*.py", "examples/*.ipynb", "test/**/*.py"]

[feature.test.tasks.autoformat_markdown]
description = "Apply automatic markdown formatting rules with prettier"
cmd = ["npx", "prettier", "--write", "**/*.md"]

[feature.test.tasks.all_checks]
description = "Run static code analysis, python formatter and markdown formatter."
depends-on = [
    {task = "code_analysis"},
    {task = "autoformat_python"},
    {task = "autoformat_markdown"},
]
